@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

:root { 
  --bg-cyan: #48cad9;
  --marine: #1d1b67;
  --white: #ffffff;
  --black: #010101;
  --text: #425466;
  --title: #005661;
  --blue-text: #3b60bf;
  --section-bg: #cdf9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.hide-for-desktop {
  display: none;
}

.hero__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2.25rem;
  margin-left: 9.375rem;
}

.navbar {
  margin-top: 4.75rem;
}

.group__navbar {
  display: flex;
  flex-direction: row;
}

.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 3.125rem;
}

.group__links {
  display: flex;
  flex-direction: row;
}

.features, .pricing {
  margin-right: 1.5rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.3125rem;
  width: 12.25rem;
  height: 3.9375rem;
  background-color: var(--marine);
}

.cta a {
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
}

.left__side .cta {
  float: right;
  margin-left: 1.44rem;
  margin-right: 9rem;
  margin-top: 2.4rem;
}

.hero__section .left__side {
  background-color: var(--bg-cyan);
}

.mockup {
  margin-top: 10.5rem;
  margin-left: 3.48rem;
  margin-right: 3.66rem;
  margin-bottom: 7.8rem;
}

.hero__right__side {
  margin-top: 8.22rem;
  margin-right: 3.54rem;
  /* border: blue 1px solid; */
}

.hero__right__side h1 {
  width: 29.75rem;
  font-weight: 700;
  font-size: 3.36rem;
  color: var(--marine);
  margin-bottom: 8px;
  /* border: green 1px solid; */
}

.hero__right__side p {  
  margin-bottom: 16px;
}

.hero__right__side .cta {
  margin-bottom: 8px;
}

.schedule {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 0;
  
  margin-bottom: 1.5rem;

  /* border: solid 1px red; */

}

.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.25rem;
  height: 3.9375rem;
  margin-left: 1rem;
  border-radius: 5px;
  /* border: solid 1px pink; */
}

.demo a {
  font-weight: 700;
  font-size: 1.125rem;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

}

.data a {
  font-weight: 700;
  text-decoration: underline 2px;
}

.social__proof {
  display: flex;
  flex-direction: row;

  margin-right: 9.375rem;
  margin-left: 9.375rem;
  margin-top: 2.75rem;
  margin-bottom: 5rem;

  /* border: solid 1px purple; */
}

.title__avatars {
  display: flex;
  flex-direction: column;

  /* border: solid 1px pink; */
}

.social__proof .title__avatars .title {
  margin-bottom: 32px;
}

.social__proof .avatars img {
  width: 50px;
  height: 50px;
}

.social__proof .title h1 {
  color: var(--marine);
  font-size: 36px;
  font-weight: 700;
}

/* .avatars {
  border: solid 1px brown;
} */

.social__text {
  display: flex;
  flex-direction: column;

  width: 493px;
  height: 162px;
  margin-left: 109px;

  /* border: solid 1px green; */
}

.social__text p {
  font-size: 18px;
}

.social__text p:not(:last-child) {
  margin-bottom: 32px;
}

/* Tablet */

@media only screen and (max-width: 1280px) {
  .hero__section {
    margin-top: 0;
    margin-left: 2.5rem;
  }

  .left__side .cta {
    margin-right: 2.5rem;
  }
  
  .hero__right__side {
    margin-top: 3.78rem;
  }

  .hero__right__side h1 {
    width: 259.01px;
    font-size: 2.16rem;
    line-height: 2.6142rem;
  }

  .schedule {
    flex-direction: column;
    text-align: center;
  }
/* 
  .demo {
    margin-left: 1.875rem;
  } */

  .social__proof {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .title__avatars {
    flex-direction: row;
    margin-bottom: 24px;
  }

  .social__proof .title {
    margin-right: 26px;
  }
  
  .social__text {
    width: 100%;
    margin: 0;
  }
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .hide-for-mobile {
    display: none;
  }

  .hide-for-desktop {
    display: block;
  }

  .hero__section {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  
  .navbar, .hero__right__side {
    margin-top: 2.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .cta {
    width: 10rem;
    height: 3.9325rem;
  }

  .cta a {
    font-size: 16px;
  }

  .left__side {
    margin: none;
  }
  
  .mobile {
    width: 100%;
    margin: 0 auto;
  }
  
  .mockup {
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    margin-left: 2.0118rem;
    margin-right: 1.3674rem;
  }

  .hero__right__side h1{
    width: 259.01px;
  }

  .schedule {
    flex-direction: row;
  }

  .demo {
    /* margin-left: 1.875rem;
    width: 8.625rem; */
    width: 8rem;
  }

  .demo a {
    font-size: 16px;
  }

  .data {
    margin-bottom: 40px;
  }

  .social__proof {
    flex-direction: column;

    margin-left: 20px;
    margin-right: 20px;
  }

  .title__avatars {
    flex-direction: column;
  }

  /* .avatars { */
    /* width: 21.25rem; */
    /* width: -moz-fit-content; */
    /* height: 6.75rem; */
  /* } */

  .social__text {
    width: 100%;
    height: auto;
  }
}
